<div class="container">
  <img class="current_image_with_nav" src="/images/cinq_background_without_logo.png"/>
  <div id="new_welcome_screen_form" class="row centered-form">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Edit Visitor Page</h3>
        </div>
        <div class="panel-body">
          <form id="update_form">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group flt_left">
                  {{#if isDefaultImage}}
                    <label for="defaultImage" class="flt_right">&nbsp Default image as Welcome Screen</label>
                    <input type="checkbox" class="flt_right" name="defaultImage" id="defaultImage" checked>
                  {{else}}
                    <label for="defaultImage" class="flt_right">&nbsp Default image as Welcome Screen</label>
                    <input type="checkbox" class="flt_right" name="defaultImage" id="defaultImage">
                  {{/if}}
                </div>
              </div>
              {{!-- <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group flt_left">
                  {{#if isEnabled}}
                    <label id="isEnableLabel" for="isEnable" class="flt_right">&nbsp This Welcome Screen is enabled</label>
                    <input type="checkbox" class="flt_right" name="isEnable" id="isEnable" checked>
                  {{else}}
                    <label id="isEnableLabel" for="isEnable" class="flt_right">&nbsp This Welcome Screen is disabled</label>
                    <input type="checkbox" class="flt_right" name="isEnable" id="isEnable">
                  {{/if}}
                </div>
              </div> --}}

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label id="isEnableLabel" for="isEnable" class="flt_right"></label>
                  <input type="checkbox"class="flt_right" name="isEnable" id="isEnable">
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <label id="currentImage" for="image">Current image: {{screenImage.defaultImageName}}</label>
                  <label id="imageName" class="vsb_hidden">{{screenImage.imageName}}</label>
                  <label id="guestsNames" class="vsb_hidden"></label>
                  <br/>
                  <label for="image">Choose a new image</label>
                  {{#if isDefaultImage}}
                    <input type="file" name="image" value="{{screenImage.imageName}}" id="image" class="form-control input-sm" placeholder="Image" disabled>
                  {{else}}
                    <input type="file" name="image" id="image" class="form-control input-sm" placeholder="Image">
                  {{/if}}
                </div>
              </div>
              {{#checkIsProgrammed screenImage}}
              {{/checkIsProgrammed}} 
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="company">First company name</label>
                  <input type="text" name="company1" id="company1" class="form-control input-sm" placeholder="Company 1" value="{{screenImage.companies.[0]}}">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="company">Second company name</label>
                  <input type="text" name="company2" id="company2" class="form-control input-sm" placeholder="Company 2" value="{{screenImage.companies.[1]}}">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest1" id="guest1" class="form-control input-sm" placeholder="Guest name" value="{{screenImage.guestsNames.[0]}}">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest2" id="guest2" class="form-control input-sm" placeholder="Guest name" value="{{screenImage.guestsNames.[1]}}">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest3" id="guest3" class="form-control input-sm" placeholder="Guest name" value="{{screenImage.guestsNames.[2]}}">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest4" id="guest4" class="form-control input-sm" placeholder="Guest name" value="{{screenImage.guestsNames.[3]}}">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest5" id="guest5" class="form-control input-sm" placeholder="Guest name" value="{{screenImage.guestsNames.[4]}}">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest6" id="guest6" class="form-control input-sm" placeholder="Guest name" value="{{screenImage.guestsNames.[5]}}">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest7" id="guest7" class="form-control input-sm" placeholder="Guest name" value="{{screenImage.guestsNames.[6]}}">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="guest8" id="guest8" class="form-control input-sm" placeholder="Guest name" value="{{screenImage.guestsNames.[7]}}">
                </div>
              </div>
            </div>
            <input type="submit" value="Update" class="btn btn-info col-xs-6 col-sm-6 col-md-6 col-lg-6">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const Toast = Swal.mixin({
    toast: true,
    position: 'top',
    showConfirmButton: false,
    timer: 3000,
  });
  const socket = io();
  const actualDate = new Date();
  const dateNow = GetTodaysDatePlusOne(actualDate);
  const dateTomorrow = GetTomorrowsDate(actualDate);
  const initialStartDate = `{{screenImage.startDate}}`;
  const initialEndDate = `{{screenImage.endDate}}`;
  const compareDate = FormatDate(initialStartDate) <= FormatDate(new Date());
  let dateStart = initialStartDate;
  let dateEnd = initialEndDate;
  let startDateFormatted = initialStartDate;
  let expirationDateFormatted = initialEndDate;
  let oldTitle = $('#title').val();
  let currentVideo = $('#currentVideo').text();
  let formatedDate = FormatDateBeauty(dateNow);
  let expirationDate = FormatDateBeauty(dateTomorrow);
  let oldCompany = $('#company1').val();
  let currentImage = $('#currentImage').text();

  $(document).ready(() => {
    if (`{{isEnabled}}` === 'programmed') {
      CheckBoxCheck('programmed', initialStartDate, initialEndDate);
    } else if (`{{{isEnabled}}}` === 'true' && compareDate === false) {
      CheckBoxCheck('true', initialStartDate, initialEndDate);
    } else if (`{{{isEnabled}}}` === 'false') {
      CheckBoxCheck('false', initialStartDate, initialEndDate);
    } else if (`{{{isEnabled}}}` === 'true' && compareDate === true) {
      CheckBoxCheck('activated', initialStartDate, initialEndDate);
    }
  });

  $("#company1").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#company1", "emptyFields", "fulfilledFields");
  });

  $("#image").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#image", "emptyFields", "fulfilledFields");
  });

  $("#startDate").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#startDate", "emptyFields", "fulfilledFields");
  });

  $("#endDate").on("paste keyup change focusout", function() {
    AddAndRemoveClassConditional("#endDate", "emptyFields", "fulfilledFields");
  });

  $('#isEnable').change(function() {
    ChangeCheckBoxLabelText("#isEnableLabel", $(this).is(':checked'));
  });

  $('#currentImage').change(function() {
    currentImage = $('#currentImage').text();
  });

  $('#defaultImage').change(function() {
    if ($(this).is(':checked')) {
      $('#image').prop('disabled', true);
      $('#currentImage').text('Current image: default_image.jpg');
    } else {
      $('#image').prop('disabled', false);
      $('#currentImage').text(currentImage);
    }
  });

  $('#isEnable').change(function() {
    if ($(this).is(':checked')) {
      $('#isEnableLabel').text('\u00A0 This Welcome Screen is enabled');
    } else {
      $('#isEnableLabel').text('\u00A0 This Welcome Screen is disabled');
    }
  });

  $("#startScheduleWs").on("change", function() {
    if ($(this).is(':checked')) {
      UnableDisableScheduled('programmed');
    } else {
      UnableDisableScheduled('disabled');
      $("#startDate").val('');
      $("#endDate").val('');
    }
  });

  $("#isEnable").on("change", function() {
    if ($(this).is(':checked')) {
      UnableDisableScheduled('disabled');
    } else {
      UnableDisableScheduled('enabled');
    }
  });

  $('#startDate').datepicker({
    dateTimeSeparator: " - ",
    clearButton: true,
    minDate: dateNow,
    minHours: dateNow,
    onSelect: function(fd, d, picker) {
      dateStart = d;
      monthStart = GetCorrectMonth(d);
      yearStart = FormatYear(d);
      startDate = FormatDateToEnroll(d, monthStart, yearStart);
      startDateFormatted = d;
      CheckTime();
      if (dateEnd == '')
        AddAndRemoveClassSimple('#endDate', 'emptyFields', 'fulfilledFields');
    }
  });

  $('#endDate').datepicker({
    dateTimeSeparator: " - ",
    clearButton: true,
    minDate: dateTomorrow,
    minHours: dateTomorrow,
    onSelect: function(fd, d, picker) {
      dateEnd = d;
      monthFinish = GetCorrectMonth(d);
      yearFinish = FormatYear(d);
      finishDate = FormatDateToEnroll(d, monthFinish, yearFinish);
      expirationDateFormatted = d;
      CheckTime();
      if (dateStart == '')
        AddAndRemoveClassSimple('#startDate', 'emptyFields', 'fulfilledFields');
    }
  });

  $('#update_form').submit(function(e) {
    e.preventDefault();

    const defaultText = 'Current image: default_image.jpg';
    const imageEmpty = $('#image').get(0).files.length;
    const isDefaultImage = $('#defaultImage').is(':checked');
    const newImage = currentImage !== defaultText && imageEmpty !== 0;
    const companyEmptyOrNull = $('#company1').val() !== '' && $('#company1').val() !== ' ';
    const defaultImage = currentImage === defaultText && imageEmpty !== 0;
    const notDefaultImage = currentImage !== defaultText && imageEmpty === 0;
    const isScheduled = $("#startScheduleWs").is(':checked');
    const startDateEmptyOrNull = $("#startDate").val() !== '' && $("#startDate").val() !== ' ';
    const startDateInvalid = $("#startDate").val() === '' || $("#startDate").val() === ' ';
    const endDateEmptyOrNull = $("#endDate").val() !== '' && $("#endDate").val() !== ' ';
    const endDateInvalid = $("#endDate").val() === '' || $("#endDate").val() === ' ';
    const scheduledTime = isScheduled && startDateEmptyOrNull;
    const scheduledTimeFinish = isScheduled && endDateEmptyOrNull;
    const startTimeEmpty = isScheduled && startDateInvalid;
    const finishTimeEmpty = isScheduled && endDateInvalid;
    const dateTime = CheckTime();
    const onlyCompanyToCheck = companyEmptyOrNull && isDefaultImage && imageEmpty === 0 && !isScheduled;
    const companyAndNotDefault = companyEmptyOrNull && !isDefaultImage && imageEmpty !== 0 && !isScheduled;
    const companyAndNotDefaultSame = companyEmptyOrNull && notDefaultImage && !isScheduled;
    const scheduledSettings = companyEmptyOrNull && scheduledTime && scheduledTimeFinish && dateTime && isDefaultImage && imageEmpty === 0;
    const scheduledAndNotDefault = companyEmptyOrNull && scheduledTime && scheduledTimeFinish && dateTime && !isDefaultImage && imageEmpty !== 0;
    const scheduledAndNotDefaultSame = companyEmptyOrNull && scheduledTime && scheduledTimeFinish && dateTime && notDefaultImage;
    const conditionsToEnroll = onlyCompanyToCheck || scheduledSettings || companyAndNotDefault || companyAndNotDefaultSame || scheduledAndNotDefault || scheduledAndNotDefaultSame;

    if (!isScheduled) {
      $("#startDate").removeClass('emptyFields');
      $("#endDate").removeClass('emptyFields');
    }

    if (conditionsToEnroll) {
      $("#company1").addClass('fulfilledFields');
      $('#image').addClass('fulfilledFields');

      const schedule = CheckSchedule(isScheduled);
      const imageName = $('#imageName').text();

      var formData = new FormData($(this)[0]);
      $.ajax({
        url: `/api/update_welcome_screen_image/{{{screenImage._id}}}/${imageName}/${currentImage.slice(15)}/${schedule}`,
        type: 'PUT',
        data: formData,
        async: false,
        contentType: false,
        cache: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: data => {
          Swal.fire({
            title: 'Success',
            text: 'Welcome Screen updated successfully!',
            type: 'success',
            confirmButtonText: 'OK, keep going!',
            confirmButtonColor: '#EE9658'
          }).then(result => {
            window.location.href = "/welcome_screens_list"
          });
        },
        error: () => {
          Swal.fire({
            title: 'Sorry',
            text: 'An issue has occurred :(',
            type: 'error',
            confirmButtonColor: '#EE9658'
          });
        }
      });
    } else {
      if (companyEmptyOrNull === false && defaultImage === false) {
        $("#company1").addClass('emptyFields');
      }
      if (defaultImage === false && companyEmptyOrNull === true) {
        $("#image").addClass('emptyFields');
      }
      if (notDefaultImage && !isDefaultImage) {
        AddAndRemoveClassSimple("#image", "", "emptyFields");
      }
      if (isDefaultImage) {
        AddAndRemoveClassSimple("#image", "", "emptyFields");
      }
      if (startTimeEmpty) {
        AddAndRemoveClassSimple("#startDate", "emptyFields", "fulfilledFields");
      }
      if (finishTimeEmpty) {
        AddAndRemoveClassSimple("#endDate", "emptyFields", "fulfilledFields");
      }

      Swal.fire({
        title: 'Attention',
        text: 'Please check the fields!',
        type: 'warning',
        confirmButtonColor: '#EE9658'
      });
    }

    socket.emit('UpdateOnDatabase');
  });
</script>