<div class="gallery">
    {{#each images}}
        <section>
            <img class="current_image" src="/uploads/{{this.imageName}}"/>
            <ul class="list-group row guests_list">
                <li class="list-group-item col-xs-12 company_name">{{this.company}}:</li>
                <li class="list-group-item col-xs-6 text-center">&#x2022; {{this.guestsNames.[0]}}</li>
                <li class="list-group-item col-xs-6 text-center">&#x2022; {{this.guestsNames.[1]}}</li>
                <li class="list-group-item col-xs-6 text-center">&#x2022; {{this.guestsNames.[2]}}</li>
                <li class="list-group-item col-xs-6 text-center">&#x2022; {{this.guestsNames.[3]}}</li>
                <li class="list-group-item col-xs-6 text-center">&#x2022; {{this.guestsNames.[4]}}</li>
                <li class="list-group-item col-xs-6 text-center">&#x2022; {{this.guestsNames.[5]}}</li>
                <li class="list-group-item col-xs-6 text-center">&#x2022; {{this.guestsNames.[6]}}k</li>
                <li class="list-group-item col-xs-6 text-center">&#x2022; {{this.guestsNames.[7]}}</li>
            </ul>
        </section>
    {{/each}}
    {{#each videos}}
        <section>
            <video class="current_video" autoplay muted loop preload>
                <source src="/uploads/{{this.videoName}}" type="video/mp4"></source>
            </video>
        </section>
    {{/each}}
</div>