<div>
  <img class="current_image_with_nav" src="/images/cinq_background.png">
  <div class="container page-login">
    <div class="logo-signin ">
      <img class="img-responsive" src="/images/logo.png" />
    </div>
    <div>
      <form id="register_form" class="form-signin">
        <fieldset>
          <input required autofocus name="name" id="name" type="text" class="form-control" placeholder="Name" maxlength="100" value="{{user.name}}">
          <input required name="login" id="login" type="text" class="form-control" placeholder="Login" maxlength="100" value="{{user.login}}">
          <input required name="email" id="email" type="email" class="form-control" placeholder="E-mail" maxlength="100" value="{{user.email}}">
          <input required id="password" name="password" type="password" class="form-control" placeholder="Password" maxlength="100">
          <input required id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="Confirm password" maxlength="100">
          <button type="submit" class="btn btn-info btn-block">Update account</button>
        </fieldset>
      </form>
      <button type="submit" id="btn_delete" class="btn btn-info btn-block"><a class="nav-link" href="/api/delete"></a>Delete account</button>
    </div>
  </div>
</div>

<script>
  $('#register_form').submit((e) => {
    e.preventDefault();

    const user = {
      name: $('#name').val(),
      login: $('#login').val(),
      email: $('#email').val(),
      password: $('#password').val()
    }

    if (user.password != $('#confirmPassword').val()) {
      Swal.fire({
        title: 'Check your passwords',
        text: 'They don\'t match!',
        type: 'error',
        confirmButtonColor: '#EE9658'
      });

      $('#confirmPassword').addClass('passesDontMatch');
      $('#password').addClass('passesDontMatch');

      return false;
    } else {
      $('#confirmPassword').addClass('passesMatch');
      $('#password').addClass('passesMatch');

      $.ajax({
        type:'PUT',
        url: '/api/update_user/{{{user._id}}}',
        data: JSON.stringify(user),
        contentType: 'application/json',
        success: data => {
           Swal.fire({
            title: 'Success!',
            text: 'User updated successfully!',
            type: 'success',
            confirmButtonText: 'OK, keep going!',
            confirmButtonColor: '#EE9658'
          }).then(result => {
            window.location.href = "/welcome_screens_list"
          });
        },
        error: () => {
          Swal.fire({
            title: 'Something went wrong!',
            text: 'Try a different e-mail or login.',
            type: 'error',
            confirmButtonColor: '#EE9658'
          });
        }
      });
    }
  });

  $('#btn_delete').click((e) => {
    e.preventDefault();

    Swal.fire({
      title: 'Are you sure about this?',
      text: 'You will not be able to recover your data!',
      type: 'question',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete my account!',
      confirmButtonColor: '#EE9658',
      cancelButtonText: 'No, keep it!',
      cancelButtonColor: '#F50000'
    }).then(result => {
      if (result.value) {
        $.ajax({
          type:'DELETE',
          url: `/api/delete_user/{{{user._id}}}`,
          contentType: 'application/json',
          success: data => {
            Swal.fire({
              title: 'Deleted!',
              text: 'User deleted successfully!',
              type: 'success',
              confirmButtonText: 'OK, keep going!',
              confirmButtonColor: '#EE9658'
            }).then(result => {
              window.location.href = "/"
            });
          },
          error: () => {
            Swal.fire({
              title: 'Sorry',
              text: 'An issue has occurred :(',
              type: 'error',
              confirmButtonColor: '#EE9658'
            });
          }
        });
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        Swal.fire({
          title: 'Cancelled',
          text: 'Your account is safe :)',
          type: 'error',
          confirmButtonColor: '#EE9658'
        });
      }
    });
  });
</script>