<div>
  <img class="current_image_with_nav" src="/images/cinq_background.png">
  <div class="loader-wrapper">
    <span class="loader">
      <span class="loader-inner"></span>
    </span>
  </div>
  <div class="page-enroll border-shadow animated bounceInLeft">
    <div class="logo-signin ">
      <img class="img-responsive" src="/images/logo.png" />
    </div>
    <div>
      <form id="register_form" class="form-signin">
        <fieldset>
          <input required autofocus name="name" id="name" type="text" class="form-control releway-font" placeholder="Name" maxlength="100" value="{{user.name}}" data-toggle="tooltip" data-placement="top" title="Your name">
          <input required name="login" id="login" type="text" class="form-control releway-font" placeholder="Login" maxlength="100" value="{{user.login}}" data-toggle="tooltip" data-placement="top" title="Your login">
          <input required name="email" id="email" type="email" class="form-control releway-font" placeholder="E-mail" maxlength="100" value="{{user.email}}" data-toggle="tooltip" data-placement="top" title="Your e-mail">
          <input required id="password" name="password" type="password" class="form-control releway-font" placeholder="Password" maxlength="100" data-toggle="tooltip" data-placement="top" title="Your password">
          <input required id="confirmPassword" name="confirmPassword" type="password" class="form-control releway-font" placeholder="Confirm password" maxlength="100" data-toggle="tooltip" data-placement="top" title="Confirm your password">
          <div class="text-center">
            <button type="submit" class="btn btn-default ml-auto releway-font sign" data-toggle="tooltip" data-placement="top" title="Update my account">Update my account &nbsp<i class="material-icons">update</i>
          </div>
        </fieldset>
      </form>
      <div class="text-center">
        <button type="submit" id="btn_delete" class="btn btn-default ml-auto releway-font delete" data-toggle="tooltip" data-placement="top" title="Delete my account">Delete my account &nbsp<i class="material-icons">delete</i>
      </div>
    </div>
  </div>
</div>

<script>
  $('#register_form').submit((e) => {
    e.preventDefault();

    const user = {
      name: $('#name').val(),
      login: $('#login').val(),
      email: $('#email').val(),
      password: $('#password').val()
    };

    if (user.password != $('#confirmPassword').val()) {
      Swal.fire({
        title: 'Check your passwords',
        text: 'They don\'t match!',
        type: 'error',
        confirmButtonColor: '#EE9658'
      });

      $('#confirmPassword').addClass('is-invalid');
      $('#password').addClass('is-invalid');

      return false;
    } else {
      $('#name').addClass('is-valid');
      $('#login').addClass('is-valid');
      $('#email').addClass('is-valid');
      AddAndRemoveClassConditional("#confirmPassword", "is-invalid", "is-valid");
      AddAndRemoveClassConditional("#password", "is-invalid", "is-valid");

      $.ajax({
        type:'PUT',
        url: '/api/update_user/{{{user._id}}}',
        data: JSON.stringify(user),
        contentType: 'application/json',
        success: data => {
           Swal.fire({
            title: 'Success!',
            text: 'User updated successfully!',
            type: 'success',
            confirmButtonText: 'OK, keep going!',
            confirmButtonColor: '#EE9658'
          }).then(result => {
            window.location.href = "/welcome_screens_list"
          });
        },
        error: () => {
          Swal.fire({
            title: 'Something went wrong!',
            text: 'Try a different e-mail or login.',
            type: 'error',
            confirmButtonColor: '#EE9658'
          });
        }
      });
    }
  });

  $('#btn_delete').click((e) => {
    e.preventDefault();

    Swal.fire({
      title: 'Are you sure about this?',
      text: 'You will not be able to recover your data!',
      type: 'question',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete my account!',
      confirmButtonColor: '#EE9658',
      cancelButtonText: 'No, keep it!',
      cancelButtonColor: '#F50000'
    }).then(result => {
      if (result.value) {
        $.ajax({
          type:'DELETE',
          url: `/api/delete_user/{{{user._id}}}`,
          contentType: 'application/json',
          success: data => {
            Swal.fire({
              title: 'Deleted!',
              text: 'User deleted successfully!',
              type: 'success',
              confirmButtonText: 'OK, keep going!',
              confirmButtonColor: '#EE9658'
            }).then(result => {
              window.location.href = "/"
            });
          },
          error: () => {
            Swal.fire({
              title: 'Sorry',
              text: 'An issue has occurred :(',
              type: 'error',
              confirmButtonColor: '#EE9658'
            });
          }
        });
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        Swal.fire({
          title: 'Cancelled',
          text: 'Your account is safe :)',
          type: 'error',
          confirmButtonColor: '#EE9658'
        });
      }
    });
  });
</script>