<div class="container">
    <img id="current_image_with_nav" src="/images/cinq_background_without_logo.png"/>
    <div id="ws_list" class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>{{user.name}}</h2>
                    <h3>Welcome Screen list</h3>
                </div>
                <br/><br/>
                <div class="btn_add" class="col-sm-3">
                    <button type="button" class="btn btn-info add-new" onclick="window.location.href='/new_welcome_screen_image'">
                        <i class="fa fa-plus">Add new image</i>
                    </button>
                </di>
                <div class="btn_add" class="col-sm-3">
                    <button type="button" class="btn btn-info add-new" onclick="window.location.href='/new_welcome_screen_video'">
                        <i class="fa fa-plus">Add new video</i>
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Company/Title</th>
                    <th>Date</th>
                    <th>Is enable?</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each videos}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{dateVideo}}</td>
                        <td>{{this.activated}}</td>
                        <td>{{this.wsType}}</td>
                        <td>
                            <a href="/edit_welcome_screen_video/{{this.id}}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a href="" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                {{/each}}
                {{#each images}}
                    <tr>
                        <td>{{this.company}}</td>
                        <td>{{dateImage}}</td>
                        <td>{{this.activated}}</td>
                        <td>{{this.wsType}}</td>
                        <td>
                            <a href="/edit_welcome_screen_image/{{this.id}}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a href="" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>                            

<script>
    function ChangeCheckboxLabel(ckbx) {
        var d = ckbx.id;
        if (ckbx.checked) {
            document.getElementById("checkbox-checked").style.display = "inline";
            document.getElementById("checkbox-unchecked").style.display = "none";
        } else {
            document.getElementById("checkbox-checked").style.display = "none";
            document.getElementById("checkbox-unchecked").style.display = "inline";
        }
    }
</script>